<!DOCTYPE html>
<html lang="en">
  <head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 80%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
  }

  </style>		
  </head>
  <body>
     <div align=center>
      <table>
        <h1> TOP 5 of: {{ message }}
         <!--Displaying the converted table-->
          {% for table in tables %}
          {{titles[loop.index]}}							
          {{ table|safe }}
          {% endfor %}
        </h1>
      </table>
    </div>
  </body>
</html>
